/* .why-section-img {
  margin-top: 10vh;
}

.why-section-heading-section {
  top: -5vh;
}

@media (max-width: 1920px) {
  .why-section-img {
    margin-top: 20vh;
  }

  .why-section-heading-section {
    top: 0vh;
  }
}

@media (max-width: 1680px) {
  .why-section-img {
    margin-top: 20vh;
  }

  .why-section-heading-section {
    top: -5vh;
    gap: 4rem !important;
  }
}

@media (max-width: 1600px) {
  .why-section-img {
    margin-top: 10vh;
  }

  .why-section-heading-section {
    top: 0vh;
    gap: 4rem !important;
  }
}

@media (max-width: 1440px) {
  .why-section-img {
    margin-top: 5vh;
    scale: 120%;
  }

  .why-section-heading-section {
    gap: 2rem !important;
    top: 0vh;
  }
}

@media (max-width: 1366px) {
  .why-section-img {
    margin-top: 0vh;
  }

  .why-section-heading-section {
    top: 0vh;
  }
} */