.cards {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.card-1 {
  top: 50px;
  left: translate(-50%, -50%);
}

.card-2 {
  left: translate(-50%, -50%);
  top: 70px;
}

.card-3 {
  left: translate(-50%, -50%);
  top: 90px;
}

.card-4 {
  left: translate(-50%, -50%);
  top: 110px;
}

.card-5 {
  left: translate(-50%, -50%);
  top: 130px;
}
.card-6 {
  left: translate(-50%, -50%);
  top: 150px;
}

@media (max-width: 768px) {
  .card-1 {
    top: 100px;
  }
  .card-2 {
    top: 350px;
  }
  .card-3 {
    top: 400px;
  }
  .card-4 {
    top: 550px;
  }
}
