@import "intl-tel-input/build/css/intlTelInput.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Black"), local("Gilroy-Black"),
    url("./fonts/Gilroy-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Semibold";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("./fonts/gilroy-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Bold";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: local("Lato-Black"), local("Lato-Black"),
    url("./fonts/Lato-Regular/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"), local("Poppins-Regular"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
}

.font-poppin {
  font-family: "Poppins", serif !important;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scroll bar globally */
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.form-input input {
  @apply bg-transparent border-none outline-none border-b-2 border-white text-white;
}

.gilray-font {
  font-family: "Gilroy Bold", sans-serif !important;
  font-weight: 500 !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  max-width: 1280px !important;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1100px !important;
  }
}

@media (max-width: 1080px) {
  .container {
    max-width: 900px !important;
  }
}

.main-heading {
  font-family: "Gilroy", sans-serif !important;
  font-weight: bold;
}

.content_title::before {
  font-weight: 400;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10vh;
  text-align: center;
}

@layer components {
  .card {
    @apply absolute top-0 left-0 w-full h-full;
  }
}

.main_hero_slogan {
  @apply text-[12px] md:text-[14px] lg:text-[16px];
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

.as::-webkit-scrollbar {
  width: 8px;
  display: none;
}

.new-text {
  color: #525355;
}

.third-component {
  margin-top: 200px;
}

.asd {
  margin-top: -300px;
}
@media (min-width: 1920px) {
  .a123 {
    margin-top: -10vh;
  }
}

@media (max-width: 1680px) {
}
.fifth-component {
  margin-top: 800px;
}

@media (max-width: 1600px) {
  .why-section-img {
    scale: 0.8;
  }

  .iphone-image {
    width: 33% !important;
  }

  .first-component {
    margin-top: 130vh;
  }
}

.why-heading-gap {
  margin-top: -300px !important;
}

@media (max-width: 1440px) {
  .bottom_right_vector img {
    width: 170px !important;
  }

  .bottom_right_vector {
    right: 0;
  }

  .why-section-img {
    scale: 0.6 !important;
  }

  .top_left_vector img {
    width: 180px !important;
  }

  .top_left_vector {
    left: 0;
  }

  .spline_model {
    scale: 0.8 !important;
  }

  .a123 {
    margin-top: -5vh;
  }
}

.our-process-main-pic {
  @apply bg-gradient-to-br from-[#010B1770] via-[#2194cd] to-[#010B1770] p-[0.07rem] rounded-[20px];
}


.colorText1 {
  @apply bg-gradient-to-r from-white via-blueColor to-blueColor bg-clip-text text-transparent;
}

.search {
  @apply !hidden;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus,
.react-tel-input .country-list .country.highlight {
  @apply !bg-transparent;
}

.react-tel-input .country-list .country:hover {
  @apply !bg-blueColor;
}

.react-tel-input .country-list .country .dial-code {
  @apply !text-white;
}

.first-component {
  margin-top: 800px;
}

.why-section-img {
  top: 30%;
  scale: 0.9;
  transform: translateY(-30%);
}

.service-stack-card {
  @apply sm:h-[400px] h-[450px];
}

.second-component {
  margin-top: -400px;
}

.sixth-component {
  margin-top: -400px;
}

.seven-component {
  margin-top: 900px;
}

.hero_section_heading {
  font-size: 50px;
}
.banner_heading,
.sub_heading {
  font-size: 45px;
}
@media (max-width: 1280px) {
  .banner_heading,
  .sub_heading {
    font-size: 35px;
  }
  .hero_section_heading {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  .hero_section_heading {
    font-size: 30px;
  }
  .banner_heading,
  .sub_heading {
    font-size: 25px;
  }
}
.lottie svg g g:last-child g {
  display: none;
}

.forth-component {
  margin-top: 100px;
}

.our {
  margin-top: -1300px;
}
.stack {
  margin-top: 500px;
}

.animated-text-long1 {
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(to right, black, white, black);
  background-repeat: no-repeat;
  background-size: 800px;
  /* background-position: 100px; */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* background-position: -200 0; */
}

.stack-cards-gap {
  margin-top: 150vh;
}

.iti__country-container {
  left: 100% !important;
  /* left: auto; */
}

.iti {
  padding: 0 !important;
}
.iti--inline-dropdown .iti__dropdown-content {
  background-color: #041c30;
  color: white !important;
  width: 200px !important;
}

.iti__search-input {
  background-color: #041c30;
  border: 1px solid #041c30;
}

.iti--inline-dropdown .iti__country-list::-webkit-scrollbar {
  display: none;
}
